/* .avator {
  height:  3rem;
}

.fa-shopping-cart {
  font-size: 2rem;
}
.images {
  border: 2px solid red;
}
.details {
  border: 2px solid red;
}

/*  carousel      */

.carousel-item img {
  border-radius: 40px;
  height: 30rem;
}

.carousel-inner:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	/* background: rgba(0, 0, 0, 0.6); */

}
.carousel-indicators {
	bottom: 65px;
}
.carousel-indicators button {
	width: 100px !important;
}

.images {

}
.orangeHeader {
  color: orange;

}
.falllimited {
  font-size: 3rem;
}
.pricediscount {
  display: flex;
}
.functions {
  display: flex;
}
.detailsDiv {
  width: 80%;
  border: 2px solid green;
  display: blokc;
  align-items: center;
  justify-content: center;
}
.details {

  display: block;
  align-items: center;
  justify-content: center;
}


#number,
#decrease,
#increase {
	height: 2rem;
}
.cart {
	height: 2rem;
	font-size: 10px;
}
.carti {
	font-size: 10px;
}



.hovered {
  color: red;
}

.h1 {
  color: red;
}
.landingpage {
  background-image: url("midPastImages/main_img1.jpg");
  height: 45rem;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 2px solid red;
}
.landingpagedetails {
  border: 2px solid green;
  height: 50%;
  width: 50%;
}

.productsJSClass {
  border: 2px solid red;
  height: 10rem;
  width: 25rem;
}
.food {
  display: flex;
  border: 2px solid green;
}
.food1,
.accordion-item
 {
  height: 20rem;
  border: 2px solid red;
  width: 12rem;
}
.food1 img {
  height: 10rem;
  border-radius: 10px;

}
.buttons button {
  width: 100px;
  border-radius: 25px;
  height: 30px;
}

.menuPage h1,
.menuPage p {
  text-align: center;
}
.buttons {
  justify-content: center;
  margin: 0 auto;
  align-items: center;
}


.food1:hover {
  /* transform: scaleY(1.5); 
  height: 15rem;
  width: 15rem;
   margin-top: 10%; */
}


.imgJS {
  height: 100px;
  width: 100px;
}
.imgJSDiv {
  border: 2px solid red;
}
.productsJSClass {
  height: 300px;

}